 body {
     font-family: sans-serif;
     background: #f9f9f9;
     padding: 20px;
 }

 h2 {
     background: #4caf50;
     color: white;
     padding: 10px;
 }

 .exercicio {
     border: 2px dashed #ccc;
     padding: 15px;
     margin: 20px 0;
     background: #fff;
 }

 .container {
     border: 1px solid #999;
     margin-top: 10px;
     padding: 10px;
     min-height: 100px;
     display: flex;
     height: auto;
 }

 .item {
     background: #2196f3;
     color: white;
     padding: 10px;
     margin: 5px;
     text-align: center;
     flex: 1;
 }




 .ex1 {
     justify-content: center;
     align-items: center;
     height: 200px;
 }

 .ex2 {
   
  justify-content: start;   
 }

 .ex3 {
     justify-content: flex-end;
     align-items: flex-end;
     height: 150px;
 }

 .ex4 {
     flex-direction: column;
 }

 .ex5 {
     justify-content: center;
     gap: 10px;
 }


 #ex7 {

     flex-wrap: wrap;
 }

 .ex10 {
     flex-direction: column;
     height: 200px;
 }