/* body {
      background-color: #f5f5dc;
      font-family: Arial, sans-serif;
    }

    h1 {
      color: #4CAF50;
      text-align: center;
    }

    p {
      font-size: 18px;
      text-align: center;
    }

    ul {
      background-color: #e0f7fa;
      padding: 10px;
      border-radius: 8px;
    }
 */